.mdl-layout__header-row {
    padding: 1rem;
    button {
        margin: 0rem 1rem;
    }
}

hr {
    padding: 0;
    margin: 0;
}

.mdl-layout-title {
    color: #fff;
    font-weight: lighter;
}

md-icon {
    color: white;
}