.dashboard-container {
    width: 100%;
    min-height: calc(100vh - 64px);
}

.dashboard-container md-sidenav {
    box-shadow: 1px 0px 4px #333;
}

.dashboard-container .mat-sidenav-content,
.dashboard-container md-sidenav {
    display: flex;
    overflow: visible;
}